asyncio~=3.4.3
pyfiglet~=1.0.2
pytz~=2024.2
python-dotenv~=1.0.1
pyrofork==2.3.48
tgcrypto-pyrofork==1.2.7
requests==2.32.4
Telethon==1.40.0
Pyrogram==2.0.106
typing_extensions==4.14.1
rsa==4.9.1
git+https://github.com/Don4ikkk0/pyrogram.git@dev
